/* components/Header.module.css */
.header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width:"-webkit-fill-available" !important;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoImage {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    margin-right: 10px;
  }
  
  .brandName {
    font-size: 24px;
    font-weight: bold;
    color: #f5564e; /* Use the desired color */
  }
  
  .nav {
    flex-grow: 1;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 20px; /* Adjust space between links */
    margin: 0;
    padding: 0;
    justify-content: center; /* Center navigation links */
  }
  
  .navItem {
    font-size: 16px;
    font-weight: bold;
  }
  
  .navItem a {
    text-decoration: none;
    color: #333; /* Default text color */
    transition: color 0.3s ease;
  }
  
  .navItem a:hover {
    color: #f5564e; /* Change to the desired hover color */
  }
  
  .downloadButtonContainer {
    display: flex;
    align-items: center;
  }
  
  .downloadButton {
    background-color: #000; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .downloadButton:hover {
    background-color: #333; /* Darker shade on hover */
  }

  .hero {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom right, #ffffff, #f4f4f4);
  }
  .afterphone{
    background: linear-gradient(to bottom right, #ffffff, #f4f4f4);
    padding: 50px 20px;
   
  }
  
  .content {
    max-width: 600px;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .getStarted {
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .getStarted:hover {
    background-color: #333;
  }
  
  .watchVideo {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .watchVideo:hover {
    background-color: #f4f4f4;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .imageWrapper {
    margin-top: 40px;
    width: 100%;
    max-width: 600px;
    position: relative;
  }
  
  .image {
    border-radius: 10px;
  }
  
  